@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    height: 100vh;
}
.hidden{
    display: none;
}
.nav{
    //display: none;
    height: 100vh;
    background-color: #262626;
    color: white;

    .navWelcome{
        font-size: 4rem;
        width: 100%;
        display: grid;
        place-items: center;
        //border: 1px solid white;
        height: 30vh;
        position: absolute;
        color: rgb(219, 209, 209);
        font-family: 'Josefin Sans', sans-serif;
        padding-bottom: 1rem;

        span{
            font-size: 2.3rem;
        }
    }
    
    .nav-menu{
        padding-top: 4rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10rem;
        justify-content: center;
        align-items: center;
        
        div{
            border-radius: 20px;
            padding: 50px;
            // border: 1px solid white;
            font-size: 1.5rem;
            background: #212121;
            box-shadow:  16px 16px 25px #0f0f0f,
                        -16px -16px 25px #3d3d3d;
            font-family: 'DM Mono', monospace;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.order{
    display: none;
    height: 100vh;

    #form{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(192, 192, 192);
        padding: 30px;
        gap: 20px;
        height: 30vh;
        border: 1px solid black
        ;
        input{
            //border-radius: 50px;
            width: 100%;
            background: none;
            height: 50px;
            border: 2px solid black;

           
        }
    }

    .ordered{
        .mainOrdDiv{
            margin: 10px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 20px;
        }
    
    }
}
.recieve{
    display: none;
    height: calc(100vh - 100px);
    padding: 20px;

    .recieveList{
        border: 1px solid black;
        padding: 10px;

        .OrdRecDiv{
            margin: 10px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 10px;
        }
    }
}

