@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #131419;
}

li {
  list-style: none;
}

body {
  height: 100vh;
}

.hidden {
  display: none;
}

.nav {
  height: 100vh;
  background-color: #131419;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .navWelcome {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 4rem;
  color: #d831ae;
  text-shadow: 0 0 50px #d831ae, 0 0 90px #d831ae, 0 0 140px #d831ae;
  font-family: "Josefin Sans", sans-serif;
  height: 20vh;
}

.nav .navBox {
  padding: 20px;
  border: 3px solid #18a5d4;
  -webkit-box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
          box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
  width: clamp(270px, 80vw, 900px);
  margin: 20px 0px;
  border-radius: 40px;
}

.nav .navBox .navContinue {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: clamp(70px, 10vh, 100px);
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.2rem;
}

.nav .navBox .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(70px, 10vh, 90px);
  padding: 40px;
}

.nav .navBox .nav-menu div {
  border-radius: 20px;
  font-size: 1.5rem;
  background: #131419;
  -webkit-box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: "DM Mono", monospace;
  margin: 10px;
  padding: 30px;
}

.nav .navBox .nav-menu div:hover {
  cursor: pointer;
}

.order {
  display: none;
  min-height: 100vh;
  background-color: #131419;
  padding: 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order .orderHead {
  width: 100%;
  background-color: #131419;
  padding: 20px;
  -webkit-box-shadow: 5px 7px 10px #040405 inset, -5px -8px 10px #2a2b33 inset;
          box-shadow: 5px 7px 10px #040405 inset, -5px -8px 10px #2a2b33 inset;
  border-radius: 30px;
}

.order .orderHead .placeOrder {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  color: #d831ae;
  text-shadow: 0 0 10px #d831ae, 0 0 50px #d831ae;
  height: 9vh;
}

.order .orderHead #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px 0;
}

.order .orderHead #form input {
  margin: 10px 0;
  width: 100%;
  background: none;
  border-radius: 15px;
  border: 2px solid white;
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  height: 2.5rem;
  padding: 0rem 1.3rem;
}

.order .orderHead #form input:focus {
  outline: none;
  border-color: #18a5d4;
}

.order .orderHead #form button {
  color: white;
  outline: none;
  background-color: #131419;
  margin: 30px 0 10px 0;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 4px 6px 3px #000000, -3px -4px 5px #34363d;
          box-shadow: 4px 6px 3px #000000, -3px -4px 5px #34363d;
}

.order .yourOrders {
  width: 100%;
}

.order .yourOrders .yourOrdersHead {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
}

.order .yourOrders .ordered {
  border: 2px solid #18a5d4;
  border-radius: 10px;
  -webkit-box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
          box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
}

.order .yourOrders .ordered .mainOrdDiv {
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
}

.order .yourOrders .ordered .mainOrdDiv .delBtn {
  background-color: red;
  color: black;
  position: absolute;
  bottom: 25px;
  right: 5px;
}

.order .yourOrders .ordered .mainOrdDiv .mainOrdItem {
  padding: 10px;
  font-weight: bolder;
  font-size: 1.4rem;
  color: #d831ae;
  overflow-wrap: break-word;
}

.order .yourOrders .ordered .mainOrdDiv .ordStatus {
  padding: 5px;
  font-size: 1.1rem;
  margin: 5px 0 10px 0;
}

.order .yourOrders .ordered .mainOrdDiv .ordStatus span {
  padding: 5px;
  background-color: #757575b7;
  border-radius: 5px;
}

.order .cusDetlOrd {
  width: 100%;
  background-color: #131419;
  padding: 20px;
  -webkit-box-shadow: 5px 7px 5px #040405 inset, -5px -8px 5px #2a2b33 inset;
          box-shadow: 5px 7px 5px #040405 inset, -5px -8px 5px #2a2b33 inset;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.order .cusDetlOrd div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}

.order .orderConfButton {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #18a5d4;
  color: black;
  border-radius: 15px;
  display: none;
}

.recieve {
  display: none;
  height: 100vh;
  padding: 20px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recieve .recieveHead {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-family: "DM Mono", monospace;
  color: #d831ae;
  text-shadow: 0 0 10px #d831ae, 0 0 50px #d831ae;
  height: 9vh;
}

.recieve .recieveList {
  border: 1px solid white;
  padding: 10px;
}

.recieve .recieveList .custNameOrdRec {
  border: 1px solid red;
}

.recieve .recieveList .OrdRecDiv {
  margin: 10px;
  padding: 10px;
  border: 2px solid #18a5d4;
  border-radius: 10px;
}

.loginPage {
  height: 100vh;
  background-color: #131419;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: none;
}

.loginPage .loginBox {
  font-size: 1.2rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border: 3px solid #18a5d4;
  -webkit-box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
          box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
  border-radius: 2rem;
  padding: 4rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginPage .loginBox .loginHead {
  font-size: 2rem;
  margin: 0rem 2rem 3rem 2rem;
  color: #d831ae;
  text-shadow: 0 0 40px #d831ae, 0 0 100px #d831ae;
  font-family: "Josefin Sans", sans-serif;
}

.loginPage .loginBox .formDiv {
  position: relative;
  height: 48px;
  color: white;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  background-color: #131419;
  outline: none;
}

.loginPage .loginBox .formDiv .formInput {
  color: #d831ae;
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 3px 5px 5px #08080a inset, -3px -6px 5px #24262e inset;
          box-shadow: 3px 5px 5px #08080a inset, -3px -6px 5px #24262e inset;
}

.loginPage .loginBox .formDiv .formInput:hover {
  border-color: #8edfff;
}

.loginPage .loginBox .formDiv .formInput:focus {
  border: 2px solid #18a5d4;
  outline: none;
}

.loginPage .loginBox .formDiv .formLabel {
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 1.2rem;
  padding: 0.25rem;
  background-color: none;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
}

.loginPage .loginBox .formInput:focus ~ .formLabel {
  top: -0.8rem;
  left: 1.5rem;
  color: #18a5d4;
  font-size: 0.9rem;
  background-color: #131419;
}

.loginPage .loginBox .formButton {
  margin-top: 1rem;
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  color: pink;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #08080a, -6px -8px 10px #24262e;
          box-shadow: 5px 5px 10px #08080a, -6px -8px 10px #24262e;
}

.loginPage .loginBox .formButton:active {
  -webkit-box-shadow: 5px 5px 10px #08080a inset, -6px -8px 10px #24262e inset;
          box-shadow: 5px 5px 10px #08080a inset, -6px -8px 10px #24262e inset;
}

.custLoginPage {
  background-color: #131419;
  display: none;
  place-items: center;
  height: 100vh;
}

.custLoginPage .custLloginBox {
  font-size: 1.2rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border: 3px solid #18a5d4;
  -webkit-box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
          box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
  border-radius: 2rem;
  padding: 0rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custLoginPage .custLloginBox .custLoginHead {
  font-size: 2rem;
  margin: 3rem 2rem 4rem 2rem;
  color: #d831ae;
  text-shadow: 0 0 40px #d831ae, 0 0 100px #d831ae;
  font-family: "Josefin Sans", sans-serif;
}

.custLoginPage .custLloginBox .formDiv {
  position: relative;
  height: 48px;
  width: 100%;
}

.custLoginPage .custLloginBox .formDiv .custFormInput {
  color: #fa5eff;
  width: 100%;
  height: 100%;
  background: #131419;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 30px;
  -webkit-box-shadow: 3px 5px 5px #08080a inset, -3px -6px 5px #24262e inset;
          box-shadow: 3px 5px 5px #08080a inset, -3px -6px 5px #24262e inset;
}

.custLoginPage .custLloginBox .formDiv .custFormInput:hover {
  border: 2px solid #235b6d;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custLoginPage .custLloginBox .formDiv .custFormInput:focus {
  border: 2px solid #18a5d4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custLoginPage .custLloginBox .formDiv .custFormInput:focus ~ .custFormLabel {
  top: -0.8rem;
  left: 1.5rem;
  color: #18a5d4;
  font-size: 0.8rem;
}

.custLoginPage .custLloginBox .formDiv .custFormLabel {
  font-size: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 1.2rem;
  color: #adadad;
  padding: 0.25rem;
  background-color: #131419;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
}

.custLoginPage .custLloginBox .custFormButton {
  margin: 3rem 2rem 2.5rem 2rem;
  background-color: inherit;
  outline: none;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  color: pink;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px #08080a, -6px -8px 10px #24262e;
          box-shadow: 5px 5px 10px #08080a, -6px -8px 10px #24262e;
}

.custLoginPage .custLloginBox .custFormButton:active {
  -webkit-box-shadow: 5px 5px 10px #08080a inset, -6px -8px 10px #24262e inset;
          box-shadow: 5px 5px 10px #08080a inset, -6px -8px 10px #24262e inset;
}

.nav {
  display: none;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recieve {
  display: block;
}
/*# sourceMappingURL=styles.css.map */