*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page{
    height: 100vh;
}
.hidden{
    display: none;
}
.nav{
    height: 100px;
    background-color: black;
    color: white;
    
    .nav-menu{
        height: 100%;
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        
        div{
            padding: 15px;
            border: 1px solid white;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.order{
    background-color: rgb(153, 153, 153);
    height: calc(100vh - 100px);
    padding: 20px;
}
.recieve{
    display: none;
    background-color: rgb(153, 153, 153);
    height: calc(100vh - 100px);
    padding: 20px;
}