@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  height: 100vh;
}

.hidden {
  display: none;
}

.nav {
  height: 100vh;
  background-color: #131419;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .navWelcome {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 4rem;
  color: #d831ae;
  text-shadow: 0 0 50px #d831ae, 0 0 90px #d831ae, 0 0 140px #d831ae;
  font-family: 'Josefin Sans', sans-serif;
  height: 20vh;
}

.nav .navBox {
  padding: 20px;
  border: 3px solid #18a5d4;
  -webkit-box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
          box-shadow: -2px -2px 20px rgba(24, 165, 212, 0.4), 10px 10px 30px rgba(16, 32, 34, 0.5);
  width: clamp(340px, 80vw, 900px);
  margin: 20px 0px;
  border-radius: 40px;
}

.nav .navBox .navContinue {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: clamp(70px, 10vh, 100px);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2rem;
}

.nav .navBox .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(70px, 10vh, 90px);
  padding: 40px;
}

.nav .navBox .nav-menu div {
  border-radius: 20px;
  font-size: 1.5rem;
  background: #131419;
  -webkit-box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: -7px -7px 10px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: 'DM Mono', monospace;
  margin: 10px;
  padding: 30px;
}

.nav .navBox .nav-menu div:hover {
  cursor: pointer;
}

.order {
  display: none;
  height: 100vh;
}

.order .placeOrder {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 10vh;
  font-size: 2.5rem;
  font-family: 'DM Mono', monospace;
  background-color: silver;
}

.order #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 3vh;
  gap: 2rem;
  background-color: silver;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.order #form input {
  top: -30px;
  width: 100%;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
          box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
  height: 50px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.678);
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.order #form button {
  background-color: #dbdbdb;
  border: 1px solid #dbdbdb;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.3rem;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.548), -8px -8px 12px 0 rgba(255, 255, 255, 0.158);
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.548), -8px -8px 12px 0 rgba(255, 255, 255, 0.158);
}

.order .ordered .mainOrdDiv {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

.recieve {
  display: none;
  height: calc(100vh - 100px);
  padding: 20px;
}

.recieve .recieveList {
  border: 1px solid black;
  padding: 10px;
}

.recieve .recieveList .OrdRecDiv {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.loginPage {
  height: 100vh;
  background-color: #131419;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: none;
}

.loginPage .loginBox {
  font-size: 1.2rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border: 1px solid lightblue;
  border-radius: 2rem;
  padding: 4rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginPage .loginBox .loginHead {
  margin-bottom: 3rem;
}

.loginPage .loginBox .formDiv {
  position: relative;
  height: 48px;
  color: white;
  width: 100%;
  margin: 10px;
}

.loginPage .loginBox .formDiv .formInput {
  color: white;
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1rem;
  font-size: inherit;
  border: 2px solid white;
}

.loginPage .loginBox .formDiv .formInput:hover {
  border-color: #8edfff;
}

.loginPage .loginBox .formDiv .formInput:focus {
  border-color: #18a5d4;
}

.loginPage .loginBox .formDiv .formLabel {
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  padding: 0.25rem;
  background-color: #131419;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
}

.loginPage .loginBox .formInput:focus ~ .formLabel {
  top: -1rem;
  left: 1.2rem;
  color: #18a5d4;
}
/*# sourceMappingURL=styles.css.map */